{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
{%- unless skip_styles -%}
  {% comment %} {{ 'component-rating.css' | asset_url | stylesheet_tag }} {% endcomment %}
  {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {% comment %} {{ 'quick-order-list.css' | asset_url | stylesheet_tag }} {% endcomment %}
  {% comment %} {{ 'quantity-popover.css' | asset_url | stylesheet_tag }} {% endcomment %}
{%- endunless -%}
{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif

    # Calculate Discount Percentage
    assign compare_at_price = card_product.compare_at_price
    assign price = card_product.price
    assign discount_percentage = 0
    if compare_at_price > price
      assign discount_percentage = compare_at_price | minus: price | times: 100 | divided_by: compare_at_price
      assign discount_percentage_text = '-' | append: discount_percentage | round | append: '% OFF'
    endif
  -%}

  <div class='card-wrapper product-card-wrapper tw-bg-surface-lightGrey tw-rounded tw-px-12 tw-pt-12 tw-pb-24'>
    <a href='{{ card_product.url }}' class='tw-block tw-no-underline'>
      {%- if card_product.compare_at_price > card_product.price and card_product.available -%}
        {% render 'badge', label: discount_percentage_text, variant: 'on-sale', class: 'tw-absolute tw-top-0' %}
      {%- endif -%}
      <div
        class='
          card card--{{ settings.card_style }}
          {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
          {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
          {% if image_shape and image_shape != 'default' %} card--shape{% endif %}
          {% if extend_height %} card--extend-height{% endif %}
          {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}
          {% if horizontal_class %} card--horizontal{% endif %}
        '
        style='--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;'
      >
        <div
          class='tw-mix-blend-darken tw-max-h-[160px] card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if card_product.featured_media or settings.card_style == 'standard' %} ratio{% endif %}'
          style='--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;'
        >
          {%- if card_product.featured_media -%}
            <div class='card__media{% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}'>
              <div class='media media--transparent media--hover-effect'>
                {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                <img
                  srcset='
                    {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                    {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                  '
                  src='{{ card_product.featured_media | image_url: width: 533 }}'
                  sizes='(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)'
                  alt='{{ card_product.featured_media.alt | escape }}'
                  class='motion-reduce'
                  {% unless lazy_load == false %}
                    loading='lazy'
                  {% endunless %}
                  width='{{ card_product.featured_media.width }}'
                  height='{{ card_product.featured_media.height }}'
                >
                {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

                {%- if card_product.media[1] != null and show_secondary_image -%}
                  <img
                    srcset='
                      {%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                      {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                      {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                      {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w
                    '
                    src='{{ card_product.media[1] | image_url: width: 533 }}'
                    sizes='(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)'
                    alt=''
                    class='motion-reduce'
                    loading='lazy'
                    width='{{ card_product.media[1].width }}'
                    height='{{ card_product.media[1].height }}'
                  >
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
        </div>
        <div class='card__content'>
          <span class='tw-text-small tw-text-text-gray tw-pt-4'>{{ card_product.vendor }}</span>
          <h3
            class='tw-text-h4 tw-pt-12 tw-line-clamp-2 tw-overflow-hidden tw-text-ellipsis'
            {% if card_product.featured_media or settings.card_style == 'card' %}
              id='title-{{ section_id }}-{{ card_product.id }}'
            {% endif %}
          >
            <span class='tw-p-0'>
              {{ card_product.title | escape }}
            </span>
          </h3>

          {% assign = price = card_product.price | money %}
          {% assign priceText = 'Buy for ' | append: price %}

          <div class='product-card__button'>
            {% render 'button', label: priceText, url: card_product.url, variant: 'tertiary-light', size: 'large' %}
          </div>

          {% render 'price',
            product: card_product,
            price_class: 'tw-flex tw-items-end tw-min-h-[69px]',
            show_compare_at_price: true,
            showQuantity: true
          %}
        </div>
      </div>
    </a>
  </div>
{%- endif -%}
