{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer', menu: linklists['main-menu'], menu_type_desktop: 'dropdown', enable_customer_avatar: true %}
{% endcomment %}

{%- liquid
  assign menu_links = menu.links | default: blank
  assign menu_type = menu_type_desktop | default: 'dropdown'
  assign show_avatar = enable_customer_avatar | default: false
-%}

<style>
  .tw-group[open] > summary > span:last-child {
    transform: rotate(180deg);
  }
  .tw-group[open] > div[id^='link-'] {
    max-height: 2000px;
  }
  .tw-group\/nested[open] > summary > span:last-child {
    transform: rotate(180deg);
  }
  .tw-group\/nested[open] > div[id^='childlink-'] {
    max-height: 1000px;
  }

  /* Make menu drawer flex column to allow proper scrolling */
  #menu-drawer {
    display: flex;
    flex-direction: column;
  }

  /* Make nav flex-1 and flex column */
  #menu-drawer > nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }

  /* Ensure drawer is hidden on page load before external CSS loads */
  #Details-menu-drawer-container:not(.menu-opening) > #menu-drawer {
    transform: translateX(-100%);
    visibility: hidden;
  }
</style>

<header-drawer data-breakpoint='{% if menu_type == 'drawer' %}desktop{% else %}tablet{% endif %}'>
  <div id='Details-menu-drawer-container' class='menu-drawer-container'>
    <div
      id='menu-drawer'
      class='menu-drawer tw-w-[340px] tw-top-0 tw-rounded-r-[12px]'
    >
      <nav class=''>
        <div class='tw-p-16 tw-flex tw-justify-between'>
          {%- if settings.logo != blank -%}
            <div class='header__heading-logo-wrapper'>
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
              {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
              {{
                settings.logo
                | image_url: width: 600
                | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
              }}
            </div>
          {%- else -%}
            <span class='h2'>{{ shop.name }}</span>
          {%- endif -%}
          <button
            class='menu_drawer_close'
            type='button'
            aria-label='{{ 'accessibility.close' | t }}'
          >
            <span class='svg-wrapper'>
              {{- 'icon-close.svg' | inline_asset_content -}}
            </span>
          </button>
        </div>
        <ul class='tw-p-16 tw-overflow-y-scroll' role='list'>
          {%- if menu_links != blank -%}
            {%- for link in menu_links -%}
              <li class='tw-mb-8'>
                {%- if link.links != blank -%}
                  <details
                    id='Details-menu-drawer-menu-item-{{ forloop.index }}'
                    class='tw-group tw-bg-surface-gray tw-rounded'
                  >
                    <summary
                      id='HeaderDrawer-{{ link.handle }}'
                      class='tw-flex tw-items-center tw-justify-between tw-rounded tw-w-full tw-py-16 tw-px-12 tw-text-regular-semi tw-cursor-pointer tw-transition-colors tw-duration-200 tw-bg-surface-gray'
                    >
                      <div class='tw-flex tw-items-center'>
                        <span class='header__menu-item-icon'>
                          {% assign top_level_item = link.object %}
                          {% if top_level_item.metafields.custom.menu_icon %}
                            <img
                              src='{{ top_level_item.metafields.custom.menu_icon | img_url: 'small' }}'
                              alt='{{ link.title | escape }}'
                              width='20'
                              height='20'
                              style='width: 20px; height: 20px; margin-right: 12px; vertical-align: middle;'
                            >
                          {% endif %}
                        </span>
                        <span>{{ link.title | escape }}</span>
                      </div>
                      <span class='tw-inline-flex tw-items-center tw-justify-center tw-w-12 tw-h-12 tw-ml-2 tw-transition-transform tw-duration-200'>
                        {{- 'icon-chevron-down.svg' | inline_asset_content -}}
                      </span>
                    </summary>
                    <div
                      id='link-{{ link.handle | escape }}'
                      class='tw-overflow-hidden tw-transition-all tw-duration-300 tw-ease-in-out tw-max-h-0'
                      tabindex='-1'
                    >
                      <ul class='tw-p-8' role='list' tabindex='-1'>
                        {%- for childlink in link.links -%}
                          {% assign linked_item = childlink.object %}
                          <li class='tw-bg-white tw-rounded tw-p-8 tw-mb-8'>
                            {%- if childlink.links == blank -%}
                              <a
                                id='HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}'
                                href='{{ childlink.url }}'
                                class='tw-py-3 tw-px-12 tw-text-regular-semi tw-rounded tw-flex tw-items-center {% if childlink.current %} {% endif %}'
                                {% if childlink.current %}
                                  aria-current='page'
                                {% endif %}
                              >
                                {% if linked_item.metafields.custom.menu_image %}
                                  <span class='tw-mr-12 tw-w-[30px]'>
                                    <img
                                      src='{{ linked_item.metafields.custom.menu_image | img_url: 'medium'}}'
                                      width='100%'
                                      height='100%'
                                      alt='{{ link.title }}'
                                      class='tw-mix-blend-darken'
                                    >
                                  </span>
                                {% endif %}
                                {{ childlink.title | escape }}
                              </a>
                            {%- else -%}
                              <details
                                id='Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}'
                                class='tw-group/nested'
                              >
                                <summary
                                  id='HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}'
                                  class='tw-flex tw-items-center tw-justify-between tw-w-full tw-py-3 tw-px-12 tw-text-base'
                                >
                                  <span>{{ childlink.title | escape }}</span>
                                  <span class='tw-inline-flex tw-items-center tw-justify-center tw-w-4 tw-h-4 tw-ml-2 tw-transition-transform tw-duration-200'>
                                    {{- 'icon-arrow.svg' | inline_asset_content -}}
                                  </span>
                                </summary>
                                <div
                                  id='childlink-{{ childlink.handle | escape }}'
                                  class='tw-overflow-hidden tw-transition-all tw-duration-300 tw-ease-in-out tw-max-h-0'
                                >
                                  <ul class='tw-py-2' role='list' tabindex='-1'>
                                    {%- for grandchildlink in childlink.links -%}
                                      <li>
                                        <a
                                          id='HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}'
                                          href='{{ grandchildlink.url }}'
                                          class='tw-block tw-py-2.5 tw-px-16 tw-text-sm tw-rounded'
                                          {% if grandchildlink.current %}
                                            aria-current='page'
                                          {% endif %}
                                        >
                                          {{ grandchildlink.title | escape }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                </div>
                              </details>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                        {% render 'button',
                          label: 'View All',
                          url: link.url,
                          variant: 'solid-purple',
                          custom_class: 'tw-mt-16'
                        %}
                      </ul>
                    </div>
                  </details>
                {%- else -%}
                  <a
                    id='HeaderDrawer-{{ link.handle }}'
                    href='{{ link.url }}'
                    class='tw-block tw-py-16 tw-px-12 tw-text-regular-semi tw-rounded tw-bg-surface-gray'
                    {% if link.current %}
                      aria-current='page'
                    {% endif %}
                  >
                    <div class='tw-flex tw-items-center'>
                      <span class='header__menu-item-icon'>
                        {% assign top_level_item = link.object %}
                        {% if top_level_item.metafields.custom.menu_icon %}
                          <img
                            src='{{ top_level_item.metafields.custom.menu_icon | img_url: 'small' }}'
                            alt='{{ link.title | escape }}'
                            width='20'
                            height='20'
                            style='width: 20px; height: 20px; margin-right: 12px; vertical-align: middle;'
                          >
                        {% endif %}
                      </span>
                      <span>{{ link.title | escape }}</span>
                    </div>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          {%- endif -%}
        </ul>
        <div class='menu-drawer__utility-links tw-w-full tw-bg-white tw-p-16 tw-mt-auto'>
          {%- if shop.customer_accounts_enabled -%}
            {%- liquid
              if customer
                assign account_url = routes.account_url
                assign account_label = 'customer.account_fallback' | t
              else
                assign account_url = routes.account_login_url
                assign account_label = 'customer.log_in' | t
              endif
            -%}
            {%- if show_avatar and customer and customer.has_avatar? -%}
              <a
                href='{{ account_url }}'
                rel='nofollow'
                class='tw-inline-block tw-text-nowrap tw-text-center tw-rounded-md tw-font-semibold tw-transition tw-duration-300 max-tablet:tw-w-full tw-flex tw-items-center tw-justify-center tw-gap-8'
              >
                <account-icon>
                  {{ customer | avatar }}
                </account-icon>
                <span>{{ account_label }}</span>
              </a>
            {%- else -%}
              {% render 'button',
                variant: 'tertiary-light',
                label: account_label,
                url: account_url,
                icon: 'icon-account.svg',
                rel: 'nofollow',
                custom_class: 'tw-w-full'
              %}
            {%- endif -%}
          {%- endif -%}
          {% comment %}
            {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}
            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-twitter.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-facebook.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-pinterest.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-instagram.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-tiktok.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-tumblr.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-snapchat.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-youtube.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-vimeo.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          {% endcomment %}
        </div>
      </nav>
    </div>
  </div>
</header-drawer>
