<div class="tw-relative tw-flex-1 tw-min-w-0 tw-bg-white tw-rounded-sm">
  <input
    class="field__input tw-pr-8 !tw-bg-transparent"
    name="{{ filter.min_value.param_name }}"
    id="{{ id_prefix }}{{ filter.label | escape }}-GTE"
    {%- if filter.min_value.value -%}
      value="{{ filter.min_value.value | money_without_currency }}"
    {%- endif -%}
    type="text"
    inputmode="decimal"
    placeholder="{{ 0 | money_without_trailing_zeros | remove: '$' }}"
    data-pattern="\d| |,|\."
    data-min="0"
    data-max="{{ filter.range_max | money_without_currency }}"
  >
  <span
    class="tw-absolute tw-inset-y-0 tw-right-8 tw-flex tw-items-center tw-pointer-events-none"
  >
    {{ cart.currency.symbol }}
  </span>
  <label class="field__label" for="{{ id_prefix }}{{ filter.label | escape }}-GTE">
    {{- 'products.facets.from' | t -}}
  </label>
</div>

<div class="tw-relative mt-4 tw-flex-1 tw-min-w-0 tw-bg-white tw-rounded-sm">
  <input
    class="field__input tw-pr-8 !tw-bg-transparent"
    name="{{ filter.max_value.param_name }}"
    id="{{ id_prefix }}{{ filter.label | escape }}-LTE"
    {%- if filter.max_value.value -%}
      value="{{ filter.max_value.value | money_without_currency }}"
    {%- endif -%}
    type="text"
    inputmode="decimal"
    placeholder="{{ filter.range_max | money_without_currency | remove: '$' }}"
    data-pattern="\d| |,|\."
    data-min="0"
    data-max="{{ filter.range_max | money_without_currency }}"
  >
  <span
    class="tw-absolute tw-inset-y-0 tw-right-8 tw-flex tw-items-center tw-pointer-events-none"
  >
    {{ cart.currency.symbol }}
  </span>
  <label class="field__label" for="{{ id_prefix }}{{ filter.label | escape }}-LTE">
    {{- 'products.facets.to' | t -}}
  </label>
</div>
