{% for block in section.blocks %}
  {% case block.type %}
    {% when 'mainBanner' %}
      {% if block.settings.mainBanner_full_width_bg %}
        <div
          class='page-width tw-my-36 tw-rounded tablet:tw-min-h-[475px] tw-'
          style="background-image: url('{{ block.settings.mainBanner_bg_image | image_url: width: 1920 }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"
        >
          <div
            class='tw-absolute tw-inset-0'
            style='background: linear-gradient(to right, {{ block.settings.mainBanner_gradient_start }}, {{ block.settings.mainBanner_gradient_end }}); opacity: 0.8;'
          ></div>
          <div class='page-width tw-relative tw-z-10'>
            <div class='tw-flex tw-flex-col tw-flex-col-reverse tablet:tw-grid tw-grid-cols-2 tw-p-32 tw-rounded tw-relative'>
              {% render 'hero-main-banner-content', block: block %}
            </div>
          </div>
        </div>
      {% else %}
        <div class='page-width tw-py-36'>
          <style>
            .mainBanner-gradient-bg {
              background: linear-gradient(to right, {{ block.settings.mainBanner_gradient_start }}, {{ block.settings.mainBanner_gradient_end }});
            }
          </style>
          <div class='mainBanner-gradient-bg tw-flex tw-flex-col tw-flex-col-reverse tablet:tw-grid tw-grid-cols-2 tw-p-32 tw-rounded tw-relative tw-z-0'>
            {% render 'hero-main-banner-content', block: block %}
          </div>
        </div>
      {% endif %}
    {% when 'smallBanner' %}
      <div class='page-width tw-py-36'>
        <style>
          .smallBanner-gradient-bg {
            background: linear-gradient(
              to right,
              {{block.settings.smallBanner_gradient_start}},
              {{block.settings.smallBanner_gradient_end}}
            );
          }
        </style>
        <div class='smallBanner smallBanner-gradient-bg tw-p-32 tw-mt-8 tw-rounded'>
          <div
            class='smallBanner-bg'
            {% if block.settings.smallBanner_bg %}
              style="background-image: url('{{ block.settings.smallBanner_bg | image_url: width: 1200 }}');"
            {% endif %}
          >
            <div class='tw-flex tw-justify-between tw-items-center'>
              <div>
                <h3 class='tw-text-h1 tw-text-text-white tw-pb-8'>{{ block.settings.smallBanner_heading }}</h3>
                <p class='tw-text-regular-semi tw-text-text-white tw-pb-24'>{{ block.settings.smallBanner_text }}</p>
              </div>
              <div>
                {% if block.settings.smallBanner_button_text != blank
                  and block.settings.smallBanner_button_url != blank
                %}
                  {% render 'button',
                    label: block.settings.smallBanner_button_text,
                    url: block.settings.smallBanner_button_url,
                    variant: 'tertiary-dark',
                    size: 'large'
                  %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "Hero Section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow Title",
      "default": "Slideshow"
    }
  ],
  "blocks": [
    {
      "type": "mainBanner",
      "name": "Main Banner",
      "settings": [
        {
          "type": "checkbox",
          "id": "mainBanner_full_width_bg",
          "label": "Enable Full Width Background",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "mainBanner_bg_image",
          "label": "Full Width Background Image"
        },
        {
          "type": "color",
          "id": "mainBanner_gradient_start",
          "label": "Gradient Start Color",
          "default": "#3383BF"
        },
        {
          "type": "color",
          "id": "mainBanner_gradient_end",
          "label": "Gradient End Color",
          "default": "#1069AD"
        },
        {
          "type": "image_picker",
          "id": "mainBanner_image",
          "label": "Content Image"
        },
        {
          "type": "image_picker",
          "id": "mainBanner_logo",
          "label": "Logo"
        },
        {
          "type": "text",
          "id": "mainBanner_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "mainBanner_text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "mainBanner_button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "mainBanner_button_url",
          "label": "Button url"
        }
      ]
    },
    {
      "type": "smallBanner",
      "name": "Small Banner",
      "settings": [
        {
          "type": "color",
          "id": "smallBanner_gradient_start",
          "label": "Gradient Start Color",
          "default": "#D21242"
        },
        {
          "type": "color",
          "id": "smallBanner_gradient_end",
          "label": "Gradient End Color",
          "default": "#D21258"
        },
        {
          "type": "image_picker",
          "id": "smallBanner_bg",
          "label": "Background Image"
        },
        {
          "type": "text",
          "id": "smallBanner_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "smallBanner_text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "smallBanner_button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "smallBanner_button_url",
          "label": "Button url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Section",
      "blocks": [
        {
          "type": "mainBanner"
        },
        {
          "type": "smallBanner"
        }
      ]
    }
  ]
}
{% endschema %}
